<h1>list</h1>

<ul>
    {% for page in pagesList %}
        <li>
            <div>
                <h3>{{  page.title }} <a href="{{ path('thecodeine_page_edit', {'id': page.id}) }}" class="btn btn-default " title="edytuj">edit</a></h3>
            </div>
        </li>
    {% endfor %}
</ul>